* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

.navigation {           /*NAVIGATION*/
    background-color: #6D8B74;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 10;
    display: flex;
    top: 0;
    left: 0;
    margin-bottom: 0;
}

#left {
    float: left;
    margin-left: 50px;
    text-decoration: none;
    margin-bottom: 30px;
    font-family: Rubik Doodle Shadow;
    font-size: 30px;
    color: black;
    padding-top: 10px;
}

#left a:hover {
    background-color: #6D8B74;
    color: black;
    text-decoration: none;
}

#space {
    margin-left: 40%;
}

ul {
    float: right;
    text-decoration: none;
    margin-bottom: 30px;
    display: inline;
    padding-top: 20px;
}

li {
    display: inline;
    margin-left: 30px;
    font-family: Lato;
    margin-bottom: 30px;
    font-size: 20px;
    padding-top: 20px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: white;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.button {
    display: inline-block;
    position: relative;
    padding: 0.67em;
    overflow: hidden;
    text-decoration: none;
    font-size: 2em;
    outline: none;
    color: black;
    background: #D9EDBF;
    font-family: 'raleway', sans-serif;
    float: right;
    margin-bottom: 1px;
    margin-left: 70px;
    border: 3px solid black;
    padding: 10px 5px;
    font-family: Lato;
    font-size: 20px;
}

.button span {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.button:before,
.button:after {
    content: '';
    position: absolute;
    top: 0.67em;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: .4s,opacity .6s;
    -moz-transition: .4s,opacity .6s;
    -o-transition: .4s,opacity .6s;
    transition: .4s,opacity .6s;
}

.button:before {
    content: attr(data-hover);
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
}

.button:after {
    content: attr(data-active);
    -webkit-transform: translate(150%,0);
    -moz-transform: translate(150%,0);
    -ms-transform: translate(150%,0);
    -o-transform: translate(150%,0);
    transform: translate(150%,0);
}

.button:hover span,
.button:active span {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
}

.button:hover:before,
.button:active:after {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}

.button:active:before {
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

.dropdown .dropbtn { 
margin: 15px;
font-family: Lato;
font-size: 20px;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #AFC8AD;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover {
background-color: #88AB8E;
}

.dropdown:hover .dropdown-content {
display: block;
}

.container1 {          /*SUMMARY*/
    height: 800px;
    background-color: #EFEAD8;
    padding: 0px 50px 25px 50px;
}

#myPicture {
    z-index: 1;
    float: right;
    margin-right: 30px;
    margin-top: 30px;
    padding-top: 50px;
}

.basics
.about
.contacts {
    float: left;
    display: block;
}

.basics h2 {
    font-family: Oswald;
    font-size: 50px;
}

.container1 h3 {
    font-size: 30px;
    font-family: Roboto;
}

.container1 p {
    font-size: 15px;
    font-family: Roboto;
}

.basics {
    padding-top: 200px;
}

.about {
    padding-top: 100px;
}

.contacts {
    padding-top: 100px;
}

.container2 {            /*EDUCATIONAL ATTAINMENT*/
    width: 100%;
    height: 430px;
    background-color: white;
    padding-top: 50px;
    color: #163020;
    font-family: 'Roboto', sans-serif;
}

.icons {
    display: inline;
    margin-left: 150px;
}

.icons span {
    margin-left: 50px;
    font-size: 3px;
    text-align: center;

}

.bsis {
    margin-top: 70px;
    margin-left: 50px;;
    display: flex;
}

.bsis h2 {
    float: left;
    font-size: 60px;
    text-align: right;
    margin-left: 10px;
    margin-right: 20px;

}

.bsis p {
    margin-right: 170px;
    float: right;
    font-size: 40px;
    color: #163020;
}

.bsis a:hover {
    background-color: #5F7161;
}

.container3 {           /* ACHIEVEMENTS */
    background-color: #D0C9C0;
    height: 500px;
    padding: 50px 100px;
    display: flex;
    font-family: Oswald;
}

.container {
position: relative;
width: 50%;
margin-left: 40px;
margin-top: 10px;
}

.image {
opacity: 1;
display: block;
width: 500px;
height: 400px;
transition: .5s ease;
backface-visibility: hidden;
}

.middle {
transition: .5s ease;
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
}

.container:hover .image {
opacity: 0.6;
width: 500px;
height: 400px;
}

.container:hover .middle {
opacity: 1;
}

.text {
background-color: #f3f3f3;
color: rgb(0, 0, 0);
font-size: 50px;
padding: 10px 5px;
border-radius: 20px;
}

.container4 {
    background-color: white;
    height: 200px;
    padding: 20px ;
    display: flex;
    color: #163020;
    font-family: 'Roboto', sans-serif;
}

.personal {
    float: left;
    margin-left: 160px;
    margin-right: 130px;
    width: 30%;
    margin-top: 10px;
}

.personalicon {
    float: right;
    margin-top: 20px;

}

.personalicon span {
    margin-right: 75px;
}

.personalicon h4{
    display: inline;
    margin-right: 90px;
    font-size: 20px;
}

.personal h3 {
    font-size: 40px;
}

.personal p{
    font-size: 20px;
}

.container5 {
    background-color: #D0C9C0;
    height: 250px;
    padding: 20px;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

.iconname {
    float: left;
    margin-left: 150px;
}

.iconname h4 {
    font-size: 20px;
}

.work {
    margin-top: 30px;
    margin-left: 400px;
    float: right;
}

.work h3 {
    font-size: 40px;
}

.work p {
    font-size: 20px;
    width: 500px;
}

.light-grey{
    background-color: lightgray;
    width: 240%;
    border-radius: 10px;
    margin: 10px;
}

.grey{
    background-color: gray;
    border-radius: 10px;
}

.container6 {
    background-color: #EFEAD8;
    height: 500px; 
    display: flex;
    padding: 50px;
    margin: 30px 100px 30px 100px;
    font-family: 'Roboto', sans-serif;
}

.container6 .fa-brands:hover {
    color: grey;
}

#formal {
    float: left;
    margin-left: 100px;
    border-radius: 50%;
}

.socs {
    float: right;
    margin-left: 30px;
}

.socs h2 {
    font-size: 30px;
    padding: 30px 0px 0px 0px;
}
.socs p{
    width: 500px;
    font-size: 20px;
    padding-top: 30px;
}

.socs i{
    display: block;
    padding-top: 50px;
}

.container7 {
    background-color:#D0C9C0; 
    display: block;
    height: 400px;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;

}

.programming span {
    font-size: 35px;
    display: inline;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}

.languages  {
    display: inline;
}

.languages .fa-brands {
    margin: 100px;
    display: inline;
}

.languages .fa-solid {
    margin: 50px;
    display: inline;
}


.container7 .fa-brands:hover {
    color: grey;
}

.container7 .fa-solid:hover {
    color: grey;
}

.container8 {
    background-color: white;
    height: 800px;
    position: relative;
    text-align: left;
    padding-top: 20px;
}

.container8 p {
    font-size: 40px;
    background-color:#EFEAD8;
    width: 55%;
}

.container8 h5 {
    font-size: 30px;
    margin-top: 20px;
    background-color:#4F6F52;
    width: 200px;
}

.quotes {
    position: absolute;
    top: 60%;
    left: 5%;
    opacity: 50%;
}

.container9 {
    background-color: white;
    height: 500px; 
    text-align: center;
    padding-top: 50px;
}

.container9 h4 {
    font-size: 30px;
    color: #4F6F52;
}

#message {
    width: 800px;
    height: 300px;
    margin-top: 10px;
    background-color: lightgray;
    border-radius: 5px;
    border: 1px solid white;
}

#name {
    width: 400px;
    height: 30px;
    float: left;
    margin-left: 20%; 
    margin-top: 10px;
    background-color: lightgray;
    border-radius: 5px;
    border: 1px solid white;
}

#email {
    width: 400px;
    height: 30px;
    float: right;
    margin-right: 20%;
    margin-top: 10px;
    background-color: lightgray;  
    border-radius: 5px;
    border: 1px solid white;
}

input[type=submit] {
    color: #000000;
    text-decoration: none;
    float: left;
    margin-left: 20%; 
    margin-top: 10px;
    border: 1px solid white;
    background-color: white;
    font-size: 20px;
}

input[type=submit]:hover {
    text-decoration: underline;
}

.container10 {
    background-color: #D0C9C0;
    height: 350px; 
    width: 100%;
    padding-top: 100px;
}

.ten {
    float: right;
    text-align: left;
    padding-right: 300px;
}

.container10 h3 {
    font-size: 50px;
}

.container10 p {
    font-size: 20px;
}

.container11 {
    display: flex;
    background-color:#D0C9C0;
    height: 400px;
    padding-top: 40px;
    padding-left: 100px;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}

.box {
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 300px;
    padding-top: 10px;
    margin-left: 30px;
}

#color1 {
    background-color:#5F7161;
    width: 210px;
    height: 220px;
    margin-left: 20px;
}
#color2 {
    background-color:#6D8B74;
    width: 210px;
    height: 220px;
    margin-left: 20px;
}
#color3 {
    background-color:#EFEAD8;
    width: 210px;
    height: 220px;
    margin-left: 20px;
}
#color4 {
    background-color:#D0C9C0;
    width: 210px;
    height: 220px;
    margin-left: 20px;
}

.hex {
    font-size: 20px;
    color: black;
    margin-left: 20px;
    padding-top: 5px;
}

footer {
    height: 30px;
    padding: 10px;
    text-align: center;
}
